body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://upload.wikimedia.org/wikipedia/commons/5/55/Parliament_House_New_Delhi.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.scheme {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}